.btn-container
{
  background: #0f171e;
  color:#ffffff;
  width: 100px;
  border: 0px;
  height: 40px;
}
.input-container
{
border:1px solid;

  .input-cont{
  background:#f5f5f5;
  border: 0px;
  outline: none;
  width: 300px;
  }
}